.uploadContainer {
    width: 100%;
    height: 100%;

    .selectContent {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'local';

        .uploadS {
            width: 450px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            border-radius: 20px;
            gap: 20px;
            box-shadow: 0 0 2px black;
            transition: transform 0.005s linear;


            .uploadImg {
                width: 250px;
                box-shadow: 0 0 3px black;
                border-radius: 50%;
            }

            .selection {
                font-size: 1.4rem;
            }

            &:hover {
                transform: scale(1.05);
            }

        }

        .uploadInput {
            display: none;
        }
    }

    .contentInformation {
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        



        .getInfo {
            width: 800px;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            box-shadow: 0 0 4px black;
            border-radius: 10px;
            position: relative;

            .closeUpload {
                position: absolute;
                right: 0;
                top: 0;
                width: 50px;
                aspect-ratio: 1;
                border-radius: 0 10px 0 10px;
                border: none;
                box-shadow: 0 0 4px black;
                background: none;
                cursor: pointer;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .titleContent {
                width: 80%;
                height: 30px;
                font-family: 'local';
                padding: 0 10px 0 10px;
            }

            .descrip {
                width: 80%;
                aspect-ratio: 8/4;
                padding: 10px;
                font-family: 'local';
            }

            .btnSubmit {
                background: none;
                border: none;
                width: 100px;
                height: auto;
                box-shadow: 0 0 5px black;
                border-radius: 10px;
                cursor: pointer;

                img {
                    width: 30px;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}